<h1>Searching for - <%= @search_term %>
<table border="1">
	<tr>
		<th>Image</th><th>Name</th><th>Description</th>
	</tr>
	<% @courses.each do |course| %>
		<tr class=<%= cycle('even', 'odd') %>>
			<!--      ^ cycle is a built-in Rails helper -->
			<td><%= image_tag(course['smallIcon']) %></td>
			<td><%= course['name'] %></td>
			<td><%= course['shortDescription'] %></td>
		</tr>
	<% end -%>
</table>

